{% extends "base.html" %}

{% block content %}

<form action="">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Register</h1>
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email  " required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
      </div>
      <br /> 
      <button type="submit" class="btn btn-secondary">Register</button>
</form>
  
{% endblock %}